@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");
}

body {
  background-color: #eee;

  font-family: Pretendard, sans-serif;
  font-size: 16px;

  box-sizing: border-box;
}

main {
  display: flex;

  min-height: 100dvh;
  max-width: 500px;
  width: 100vw;

  margin: auto;
  background-color: white;
}

section {
  width: 100%;

  padding-bottom: 56px;
}

a {
  display: inline-block;
}

div {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
